@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@import "./mixins";
@import "./colors";
@import "./constants";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
h1 {
    font-family: "Chelsea Market", cursive;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
.blur {
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.hexagon {
    position: relative;
    margin: 32px;
    width: 120px;
    height: 120px;
    @include flexBox();
    &::after,
    &::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $primary;
        border-radius: 10px;
    }
    &::after {
        color: white;
    }
    &::before {
        transform: rotate(45deg);
    }
    h3 {
        width: 100%;
        color: white;
        text-align: center;
    }
}

.divider {
    width: 100%;
    height: 5px;
    background-color: $teal;
}

body {
    background-color: $background;
    #landing-con {
        position: relative;
        height: 400px;
        width: 100%;
        overflow: hidden;
        background-color: $background;
        background-size: cover;
        background-repeat: no-repeat;
        @include flexBox();
        @media screen and (max-width: $mobBP) {
            height: 640px;
            @include flexBox(column);
        }
        #logo {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 140px;
            z-index: 10;
            filter: saturate(0.5) invert(1);
            margin: 8px;
        }
        #landing {
            z-index: 5;
            height: 100%;
            width: 800px;
            background-size: cover;
            background-repeat: no-repeat;
            @include flexBox();
            .blur {
                opacity: 0.3;
                z-index: -1;
            }
            .content {
                @include flexBox(column);
                #landing-title {
                    color: white;
                    margin-bottom: 24px;
                }
                .search-form {
                    width: 100%;
                    @include flexBox();
                    @media screen and (max-width: $mobBP) {
                        @include flexBox(column);
                    }
                    input {
                        padding: 8px;
                        border: none;
                        outline: none;
                        border-radius: 3px;
                        border-bottom: 5px solid transparent;
                        margin-right: 5px;
                        &:focus {
                            border-bottom: 5px solid $secondary;
                        }
                        @media screen and (max-width: $mobBP) {
                            width: 100%;
                            margin: 8px 0;
                        }
                    }
                    button {
                        padding: 11px 16px;
                        border-radius: 3px;
                        background: $secondary;
                    }
                }
                .quick-search {
                    width: 100%;
                    @include flexBox();
                    @media screen and (max-width: $tabBP) {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        grid-gap: 8px;
                    }
                    .card {
                        width: 100%;
                        @include flexBox(column);
                        margin-top: 16px;
                        cursor: pointer;
                        p {
                            color: white;
                            font-size: 14px;
                        }
                        i {
                            color: $secondary;
                            margin-right: 5px;
                            @media screen and (max-width: $tabBP) {
                                color: white;
                                border: 1px solid $secondary;
                                background: rgba($color: black, $alpha: 0.5);
                                padding: 16px;
                                border-radius: 50%;
                            }
                        }
                        @media screen and (min-width: $tabBP) {
                            @include flexBox();
                            margin: 16px;
                            &:first-child {
                                margin-left: 0;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .featuresCon {
        @include flexBox(row, space-between);
        width: 100%;
        max-width: 800px;
        padding: 16px;
        margin: auto;
        @media screen and (max-width: 800px) {
            @include flexBox(column);
        }
        img {
            width: 100%;
            max-width: 360px;
        }
        .features {
            * {
                color: $primary;
            }
            ul {
                list-style: none;
                margin-top: 16px;
                li {
                    margin: 16px 0;
                    font-weight: 500;
                    i {
                        transform: rotate(45deg);
                        margin-right: 8px;
                    }
                }
            }
        }
    }

    .downloadApp {
        background-color: $primary;
        * {
            color: white;
        }
        .content-con {
            width: 100%;
            max-width: $tabBP;
            margin: auto;
            padding: 16px;
            text-align: center;
            @include flexBox(row, space-between);
            @media screen and (max-width: 800px) {
                @include flexBox(column);
            }
            #app {
                width: 100%;
                max-width: 500px;
            }
            h1 {
                margin-bottom: 16px;
                span {
                    color: $secondary;
                }
            }
        }
    }

    .download {
        margin: 16px;
        @include flexBox(column);
        img {
            width: 150px;
            cursor: pointer;
        }
    }

    footer {
        background: rgb(44, 44, 44);
        * {
            color: white;
        }
        .footer-con {
            width: 100%;
            max-width: $tabBP;
            padding: 32px 16px;
            margin: auto;
            section {
                @include flexBox(column, center, flex-start);
                h4 {
                    color: $secondary;
                    margin: 8px;
                }
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 12px;
                    margin: 8px;
                }
            }
        }
        .copyright {
            background: rgb(34, 34, 34);
            text-align: center;
            padding: 16px;
            font-size: 12px;
        }
    }
}
